/*social media icons*/

.social-popout {
	height: 48px;
	width: 6%;
	margin: 10px 4px;
	float: left;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img {
	border-radius: 50%;
	margin: 8px;
	width: 80%;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img:hover {
	margin: 0px;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

/*pop up menu

 
*/

//2nd level menu

.dropdown-menu li:hover .sub-menu {
            visibility: visible;
        }

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu2 {   
    display: none;
}


.dropdown-submenu:hover>.dropdown-menu2 {
    display: block;
    position: absolute;    
    left:95%;
    top: 0;
    list-style-type: none;
    background-color: #fff;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    
    width: 100%;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    padding-left: 10px;
       
}

.dropdown-menu2 a{
    color:#000;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#myCarousel2{
    background:#ccc;
}

.item2{    
    text-align: center;
    height: 160px !important;
}

.item2 img{
    width:75px;margin: 20px auto 0 auto;
}

.carousel-caption{
   bottom:-15px; 
}

.subscription_main{
    padding:30px 0;
}

